*:root{
  --Primary_Pink: #E97777;
  --Secundary_Pink: #FF9F9F;
  --Sub-Primary_Yellow: #FCDDB0;
  --sub_Secondary_Yellow: #FFFAD7;
  --White_Backgroud: #f8f7ee;

}
.page-product {
  padding: 0 3em;
}
.page-product button{
  background-color: #E97777;
  border: none;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  color: #f8f7ee;
  font-size: 20px;
}
.page-product .detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.page-product .detail .gallery {
  overflow:hidden;
  width: 100%;
}
.page-product .detail h2, .page-product .detail h1 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 30px;
  margin-top:15px ;
}
.img{
  margin-top: 15px;
  border-radius: 13px;
}
.page-product .detail h2 {
  font-size: 15px;
}
@media screen and (max-width: 640px) {
  .page-product .detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

