<div class="show-mobile">
  <div class="nav">
    <button (click)="toggleMenu()">
      <img class="hamburger" src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a class="logo" >
      YAYIS
    </a>


  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button class="button-close" (click)="toggleMenu()">❎Close</button>
    <ul class="list">
      <li><a (click)="toggleMenu()" routerLink="home">Productos</a></li>

    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        YAYIS
      </a>
      <ul>
        <li><a routerLinkActive="active" routerLink="home">Productos</a></li>

      </ul>
    </nav>
    <div  class="info">
      <div class="account">
        <button *ngIf="!profile; else elseBlock" (click)="login()">Login</button>
        <ng-template #elseBlock>
          <a class="link-profile" routerLink="/profile">{{ profile?.email }}</a>
          <button (click)="logout()" >Salir</button>
        </ng-template>
      </div>

    </div>
  </div>
</div>
