<div class="card">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#E97777" fill-opacity="0.7" d="M0,256L48,224C96,192,192,128,288,90.7C384,53,480,43,576,58.7C672,75,768,117,864,138.7C960,160,1056,160,1152,138.7C1248,117,1344,75,1392,53.3L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
  <div class="main-login" >
    <h2 class="tittle-login">Login</h2>
    <p>Ingresa tus credenciales para acceder</p>
    <form (ngSubmit)="login(f)" #f="ngForm">
      <div class="form-group">
        <label for="input_name" class="row1">Email</label>
        <div>
          <input type="text" class="form-control" id="input1" name="Email" ngModel placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label for="input_description" class="row2" >Contraseña</label>
        <div>
          <input type="password" class="form-control" id="input2" name="contraseña" ngModel placeholder="Contraseña">
        </div>
      </div>
      <div class="flex">
      <button  type="submit" class="btn btn-success" [disabled]="!f.form.valid">
        Ingresar
      </button>
    </div>
    </form>
    <div class="p-login">
    <p class="parrafo-login">¿No tienes cuenta?<a routerLink="../register">Registrate</a></p>
  </div>
  </div>
